$section__fullvideo-transition-time: 0.6s;


.popup-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(#000, .7);
	z-index: 98;
	opacity: 0;
	transition: opacity $section__fullvideo-transition-time linear;
	&.open {
		opacity: 1;
		transition: opacity $section__fullvideo-transition-time linear;
	}
}

.popup-background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(#000, .7);
	z-index: 98;
	opacity: 0;
	transition: opacity $section__fullvideo-transition-time linear;
	&.open {
		opacity: 1;
		transition: opacity $section__fullvideo-transition-time linear;
	}
}

.popup-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 400px;
	background-color: rgba(#000, .8);
	padding: 15px 15px;
	border-radius: 4px;
	transition: transform $section__fullvideo-transition-time linear;
	z-index: 101;
	@media (max-width: $screen-xs) {
		width: 95%;
		overflow-y: auto;
		height: auto;
	}
	@media (max-width: $screen-sm) and (orientation: landscape) {
		overflow-y: auto;
		//height: 80%;
	}
	&.open {
		transition: transform $section__fullvideo-transition-time linear;
		transform: translate(-50%, -50%) scale(1);
	}
	&.close {
		transition: transform $section__fullvideo-transition-time linear;
		transform: translate(-50%, -50%) scale(0);
	}
}

.popup-form-title {
	font-family: $default-font;
	font-size: em(46);
	text-align: center;
	font-weight: 700;
	color: #de2f2f;
	@media (max-width: $screen-xs) {
		font-size: em(42);
	}
}

.popup-form-close {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(100%, -100%);
	@media (max-width: $screen-xs) {
		transform: translate(0, -100%);
	}
	i {
		color: #de2f2f;
		font-size: em(40);
		&:hover {
			color: darken(#de2f2f, 5%);
		}
	}
}

.form-container {
	color: #fff;
	// @media (max-width: $screen-sm) and (orientation:landscape) {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	width: 100%;
	// 	padding: 30px;
	// }
}

[class*="form_group--"] input {
	border: 0;
	padding: 10px;
	border-radius: 4px;
}

.intl-tel-input input {
	border: 0;
}

.checkbox-wrapper {
	text-align: left;
}

form.form-container input:focus {
	border: 0;
}

.send-form {
	display: block;
	width: 100%;
	padding: 10px 0;
	letter-spacing: 0.085em;
	background-color: #de2f2f;
	border-color: #de2f2f;
	&:hover {
		background-color: darken(#de2f2f, 5%);
		border-color: darken(#de2f2f, 7%);
	}
	&:active, 
	&:focus {
		background-color: darken(#de2f2f, 7%);
		border-color: darken(#de2f2f, 9%);
	}
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
	background-color: darken(#de2f2f, 7%);
	border-color: darken(#de2f2f, 9%);
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
	outline: none;
}

.error {
	color: #999;
}

form.form-container .invalid + .error {
	color: #999;
}

.modal-content {
	background-color: transparent;
	z-index: 100;
}

.close button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: none;
}

.send-from-after-button {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
	//transform: translateX(-50%);
	padding: 8px 18px;
	font-size: em(30);
	background-color: #de2f2f;
	color: #fff;
	border-radius: 4px;
	z-index: 98;
	box-shadow: 0 4px 10px 0 rgba(#000, .65);
	opacity: 0;
	transition: opacity .4s linear;
	&:hover {
		background-color: darken(#de2f2f, 5%);
		text-decoration: none;
		color: #fff;
	}
	&:focus {
		outline: none;
		text-decoration: none;
		color: #fff;
	}
	&.open-button {
		opacity: 1;
	}
}

form.form-container input[type="checkbox"] {
	transform: translateY(2px);
	margin-right: 3px;
}